.alto .col-md-8 .panel-body {
	overflow-y: scroll;
}

.alto .panel-body { 
	height: 300px;
}

#room-list {
	height: 100%;
}

h1 {
	color: #337ab7;
}

#newchatroom {
	float: right;
}

#chatroomsdropdown {
	margin-left: 16px;
}

#gobacktothechat {
	margin-top: 28px;
  	float: right;
}

#iconchangechatroomname {
	visibility: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #d9edf7;
}

.footer ul {
  margin-top: 16px;
}

.footer li + li::before {
    content: " | ";
}

.form-signup {
	max-width: 330px;
}

.header .navbar{
	background-color: #d9edf7;
}

.header-dropdown-option {
	padding-left: 20px;
}